<% var data = { title: "Ваш запрос успешно отправлен!", author: "Mathetes" }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<!-- Page Content -->
<div class="container wrapper">
  <div class="row align-items-top my-5">
    <div class="col-sm-12 col-lg-3 mediasize">
      <%= _.template(require('./../includes/sidebar.html').default)(data) %>
    </div>

    <div class="col-sm-12 col-lg-9">
      <div class="iconsblock">
        <%= _.template(require('./../includes/iconsblock.html').default)(data)%>
      </div>
      <h2 class="announcement">
        Ваш запрос успешно отправлен!
      </h2>
    </div>
  </div>
  <%= _.template(require('./../includes/footer.html').default)(data) %>
</div>
