<% var data = { title: "Каталог продукции | АО НЗИВ", author: "Mathetes" }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<!-- Page Content -->
<div class="container wrapper">
  <div class="row align-items-top my-5">
    <div class="col-sm-12 col-lg-3 mediasize">
      <%= _.template(require('./../includes/sidebar.html').default)(data) %>
    </div>

    <div class="col-sm-12 col-lg-9">
      <div class="iconsblock">
        <%= _.template(require('./../includes/iconsblock.html').default)(data)%>
      </div>
      <h2 class="product__heading animate__animated animate__backInDown">
        Каталог продукции
      </h2>

      <div class="card card-block">
        <a class="card-title" href="bath.html">
          <img
            class="card-img-top"
            src="../../img/products/bath_accessories.jpg"
            alt="Аксессуары для ванной и туалета"
          />
          <div class="card-body product-props">
            <h5 class="card-title">Аксессуары для ванной и туалета</h5>
          </div>
        </a>
      </div>
      <div class="card card-block">
        <a class="card-title" href="office.html">
          <img
            class="card-img-top"
            src="../../img/products/office_products.jpg"
            alt="Канцелярские товары"
          />
          <div class="card-body product-props">
            <h5 class="card-title">Канцелярские товары</h5>
          </div>
        </a>
      </div>
      <div class="card card-block">
        <a class="card-title" href="kitchen.html">
          <img
            class="card-img-top"
            src="../../img/products/kitchen_profucts.jpg"
            alt="Товары для кухни"
          />
          <div class="card-body product-props">
            <h5 class="card-title">Товары для кухни</h5>
          </div>
        </a>
      </div>
      <div class="card card-block">
        <a class="card-title" href="garden.html">
          <img
            class="card-img-top"
            src="../../img/products/garden_products.jpg"
            alt="Товары для сада и огорода"
          />
          <div class="card-body product-props">
            <h5 class="card-title">Товары для сада и огорода</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
  <%= _.template(require('./../includes/footer.html').default)(data) %>
</div>
