.card-title {
  text-align: center;
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }
}
.card-block {
  width: 32.4%;
  display: inline-flex;
  margin-bottom: 20px;
}
.card-block:hover {
  cursor: pointer;
  border: 2px solid red;
}

.product__heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
