/* Portrait tablets and small desktops */
@media (min-width: 993px) and (max-width: 1200px) {
  .navbar__block {
    display: grid;
  }

  .nav-item-link {
    margin-left: 48px;
  }
  .card-block {
    width: 13.8rem;
  }

  .phone__block {
    text-align: right;
  }

  .phone__icon {
    width: 20px;
  }

  .icon__link {
    color: #001f3e;
    font-size: 0.5rem;
  }

  .image__block {
    margin-right: 10px;
  }

  footer {
    text-align: center;
  }
}
