// Buttons
.modalbutton__order {
  margin-top: 36%;
}

.modalbutton__callme {
  min-width: 200px;
  background-color: #d63944;
}

.modal__form_input {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
}
