.navbar__block {
  position: relative;
  width: 100%;
  display: inline-flex;
}

.nav__wrapper {
  background-color: #001f3e;
  height: 100px;
}
.nav-item-link {
  text-transform: uppercase;
  margin-left: 100px;
  width: 34%;
}
.logonziv {
  width: 8rem;
}

.callme__block {
  float: right;
  position: absolute;
  right: 0;
}
